<div class="header-container" [ngClass]='scrollChangeClass ? "colored-background":"transparent"'>
    <div class="content-area">
        <div class="content">
            <div class="brand">
                <div class="brand">
                    <div class="brand-wrapper"><img src="../../../../assets/slicings/header-logo.png" alt=""></div>
                </div>
            </div>
            <div class="links">
                <div class="left-links">
                    <div class="link" [ngx-scroll-to]="'#home-page-offers'">Solutions</div>
                    <div class="link" [ngx-scroll-to]="'#home-page-features'">Industry</div>
                    <div class="link">Explorer</div>
                    <div class="link">Blog</div>
                    <div class="link" [ngx-scroll-to]="'#home-page-about'">About Us</div>
                </div>
                <div class="right-links">
                    <button mat-raised-button color='primary' class='contact-us' type='button' [ngx-scroll-to]="'#home-page-contact-us'">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</div>