<ul class="flex-container" [ngClass]='visibleState ? "shown":"hidden"'>
    <li class="nav-link" >
        <a [ngx-scroll-to]="'#home-page-offers'">
            Solutions
        </a>
    </li>
    <li class="nav-link" >
        <a  [ngx-scroll-to]="'#home-page-features'">
            Features
        </a>
    </li>
    <li class="nav-link">
        <a>
            Explorer
        </a>
    </li>
    <li class="nav-link">
        <a>
            Blog
        </a>
    </li>
    <li class="nav-link" >
        <a [ngx-scroll-to]="'#home-page-about'">
            About Us
        </a>
    </li>
    <li class="nav-link" >
        <a [ngx-scroll-to]="'#home-page-contact-us'">
            Contact Us
        </a>
    </li>
</ul>