.flex-container {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 60px;
    left: 0px;
    background-color: black;
    width: 100%;
    list-style-type: none;
    margin: 0px;
    .nav-link {
        color: white;
        text-align: center;
        padding: 20px 0px;
        cursor: pointer;
    }
}
.hidden {
    transition: 400ms;
    height: 1px;
    background-color: transparent;
    .nav-link {
        display: none;
        transition: 400ms;
    }
}
.shown {
    height: 350px;
    z-index: 254;
    display: flex;
    transition: 400ms;
}
@media only screen and (min-width:992px) {
    .flex-container {
        display: none;
    }
}