<div class="home-page-container">
    <div class="content">
        <div class="text-area">
            <div class="text-content">
                <div class="headings">
                    <h1 class='heading'>Enterprise Blockchain Secure Destruction and Recycling Solution</h1>
                </div>
                <div class="sub-headings">
                    Bringing Transparency, scalability and a renowned anti-fraud mechanism in the waste management system via Hyperledger
                </div>
                <div class="button">
                    <button mat-raised-button color='primary'>Request Demo</button >
                </div>
            </div>
        </div>
        <!-- <div class="background-image-area">
            <div class="image-wrapper">
                <img src="../../../../../assets/slicings/jumbotron-right-photo.png" alt="">
            </div>
        </div> -->
    </div>
</div>

