<div class="home-page-container">
    <div class="content-area">
        <div class="content">
            <div class="left-image-area">
                <div class="image-wrapper">
                    <img src="../../../../../assets/slicings/started-left-background.png" alt="">
                </div>
            </div>
            <div class="text-area">
                <h1 class="heading">
                    Ready to Get Started
                </h1>
                <p class="after-heading-text">
                    Click on the “View Demo” button below to get an interactive demo of the Platform. Feel free to Contact us for further details .
                </p>
                <div class="button"><button mat-raised-button color='primary'>View Demo</button></div>
            </div>
        </div>
    </div>
</div>