.home-page-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top:60px;
    min-height: 100vh;
    .content-area {
        flex: 0 1 90%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

    }
}
h1.heading {
    font-size: 4rem;
    text-align: center;
}
.feature-card-grid {
    padding: 50px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .card-item {
        flex: 0 1 auto;
        margin-bottom: 60px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 992px) {
    .card-item {
        flex: 0 1 50% !important;
        margin-bottom: 180px !important;
        transition: 400ms;
    }
}
@media only screen and (max-width: 768px) {
    .card-item {
        flex: 0 1 100% !important;
        margin-bottom: 180px !important;
        transition: 400ms;
    }
}