<div class="home-page-container">
    <div class="content-area">
        <div class="content-vertical-align">
            <div class="content">
                <div class="logo-area">
                    <div class="logo-wrapper">
                        <img src="../../../../../assets/slicings/header-logo.png" alt="">
                    </div>
                </div>
                <div class="text-area">
                    Enterprise blockchain Solution For FMCG companies
                </div>
                <div class="link-area">
                    <h2 class="heading">
                        Company
                    </h2>
                    <a class="link-decoration" [ngx-scroll-to]="'#home-page-about'">About Us</a>
                    <a class="link-decoration" [ngx-scroll-to]="'#home-page-contact-us'"> Contact Us</a>
                </div>
                <div class="link-area">
                    <h2 class="heading">
                        Partners
                    </h2>
                    <a href="" class="link-decoration">GGTS</a>
                    <a href="" class="link-decoration">Full Circle</a>
                </div>
                <div class="link-area">
                    <h2 class="heading">
                        Address
                    </h2>
                    <div class='link-decoration'>
                        Singapore: +65.31581825
                    </div>
                    <div class='link-decoration'>
                        Email: info@greensecure.io
                    </div>
                </div>
    
            </div>
        </div>

        <div class="copy-right-area">
            <div class="copy-text">
                Copyrights © 2019. All Rights Reserved.
            </div>
            <div class="terms-area">
                Terms And Condition
            </div>
        </div>
    </div>
</div>