<div class="home-page-container">
    <div class="content-area">
        <div class="content">
            <div class="form-area content-item">
                <h1 class="heading">
                    How Can We help?
                </h1>
                <div class="after-heading-text">
                    No ordinary database system can keep secure and adequate track of the raw waste and material going towards disposal or recycling since it can be altered or disabled anytime. Through our blockchain-powered solution, everything is permanently engraved.
                </div>
                <div class="form">
                    <form action="">
                        <div class="form-wrapper mat-elevation-z15">
                            <h1 class="form-heading">Contact Us</h1>
                            <div class="field-wrapper">
                                <mat-form-field><input type="text" matInput placeholder="Full Name" ></mat-form-field>
                            </div>
                            <div class="field-wrapper">
                                <mat-form-field><input type="text" matInput placeholder="Email" ></mat-form-field>
                            </div>
                            <div class="field-wrapper">
                                <mat-form-field>
                                    <textarea name="" matInput  placeholder="Message" id="" cols="30" rows="10"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="field-wrapper">
                                <button mat-raised-button color='primary' type='button'>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="map-area content-item">
                <div class="map-area">
                    <div class="map-wrapper">
                        <img src="../../../../../assets/slicings/contact-us-map.png" alt="">
                    </div>
                </div>
                <div class="links-area">
                    <div class="text">
                        FOLLOW US ON ---
                    </div>
                    <div class="links">
                        <div class="link">
                            <div class="link-wrapper"><img src="../../../../../assets/slicings/contact-us-facebook-icon.png" alt=""></div>
                        </div>
                        <div class="link">
                            <div class="link-wrapper"><img src="../../../../../assets/slicings/contact-us-instagram-icon.png" alt=""></div>
                        </div>
                        <div class="link">
                            <div class="link-wrapper"><img src="../../../../../assets/slicings/contact-us-linked-in.png" alt=""></div>
                        </div>
                        <div class="link">
                            <div class="link-wrapper"><img src="../../../../../assets/slicings/contact-us-twitter-icon.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>